extends layout

block content
  h1= title
  p #{title}

  table
    thead
      tr
        th Client Name
        th Relationship Since
    tbody
      - each item in rows
        tr
          td= item.clientName
          td= item.relationship