extends layout

block content
  #content
  .container
    .center
      h1 trafficLIVE Dash <br /><br />
        .index-img
          img.img-rounded(src= "/images/tl_window.png" width="400px" align="center")   
  .row.marketing
    .col-lg-6
     
  .footer
   

      