html
  head
    script(type='text/javascript', src='https://www.gstatic.com/charts/loader.js')
    script(src='/javascripts/jquery-3.2.1.min.js')
    script(src='/javascripts/jquery.csv.js')
    script(type='text/javascript').
      google.charts.load('current', {'packages':['table']});
      google.charts.setOnLoadCallback(drawTable);
      function drawTable() {
      // grab the CSV
      $.get('/csv/jobs_all_month.csv', function(csvString) {
      // transform the CSV string into a 2-dimensional array
      var arrayData = $.csv.toArrays(csvString, {onParseValue: $.csv.hooks.castToScalar});
      // this new DataTable object holds all the data
      var data = new google.visualization.arrayToDataTable(arrayData);
      var table = new google.visualization.Table(document.getElementById('table_div'));
      table.draw(data, {showRowNumber: true, width: '100%', height: '100%'});
      }
      );
      }
  body
    #table_div
