.center {
    margin: auto;
    width: 90%;
    padding: 10px;
    padding-top: 100px;
}

.nav-pills>li.active>a,
.nav-pills>li.active>a:hover,
.nav-pills>li.active>a:focus {
    background-color: #7CB342 !important;
}

.guagebottom {
    margin-bottom: 10em;
    padding-bottom: 10em;
}

.jobs {
    margin-top: 10em;
}

h1 {
    padding-top: 100px;
    text-align: center;
    margin-bottom: 100px;
}

.index-img {
    margin-top: 50px;
}

.table {
    width: 60% !important;
    margin-left: 20% !important;
    border: 1px solid #4e5d6c;
}

td:not(:first-child) {
    text-align: center !important;
}

th {
    text-align: center !important;
}